@using System.Data;
@model ContactModel;
@using CRUDMVC.Models;
@{
    ViewData["Title"] = "DeleteContactCtr";
}

<div class="card">
  <div class="card-header">
    Eliminar Registro
  </div>
  <div class="card-body">
        
     <form asp-action="DeleteContactCtr" asp-controller="Contact" method="post" asp-route-Idcontacto="Idcontacto">
         <div class="alert alert-danger" role="alert">
          Esta seguro de Eliminar el registro?
        </div>
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingrese su nombre" >   
            <input asp-for="Idcontacto" type="hidden" class="form-control">   
            
          </div>
          <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input asp-for="Telefono" type="text" class="form-control" placeholder="Ingrese un numero de telefono" >
            
          </div>          
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a asp-action="GetAllContactCtr" asp-controller="Contact" class="btn btn-warning" > Volver a la lista </a>
    </form> 

  </div>
</div>

