@using CRUDMVC.Models;
@using System.Data;
@model ContactModel;

@{
    ViewData["Title"] = "UpdateContatControl";
}
<div class="card">
  <div class="card-header">
    Actualizar Registro
  </div>
  <div class="card-body">
      
    
        <form asp-action="UpdateContatControl" asp-controller="Contact" method="post">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
             <input asp-for="Idcontacto" type="hidden" class="form-control">  
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingrese su nombre" >
           
            
          </div>
          <div class="mb-3">
            <label class="form-label">Telefono</label>
            <input asp-for="Telefono" type="text" class="form-control" placeholder="Ingrese un numero de telefono" >
           
          </div>          
          <button type="submit" class="btn btn-primary">Actualizar</button>
          <a asp-action="GetAllContactCtr" asp-controller="Contact" class="btn btn-warning" > Volver a la lista </a>
    </form>
    

  </div>
</div>
